body{
  background-color: purple;
}

.heading1a{
  text-align: center;
  font-size: 55px;
  color: red;
}

.heading1b{
  font-size: 50px;
  color: green;
  padding-left: 70px;
}

.span1 {
  color: blue;
  font-size: 25px;
}

img{
  width:300px;
  height: 300px;
}

*{
  padding: opx;
  margin: 0px;
}

a{
  padding-left: 300px;
  color: red;
}